.home-carousel .carousel-item-inner {
  height: 60vh;
  position: relative;
}
.home-carousel img {
  height: 60vh;
  width: 100% !important; /* Força a largura */
  object-fit: cover !important; /* Força o ajuste */
  display: block !important;
}


.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.carousel-caption {
  bottom: 30% !important;
  text-align: left;
  left: 10% !important;
  right: 10% !important;
}

.carousel-caption h1 {
  font-family: 'Playfair Display', serif;
}
